@charset "utf-8";

/* global */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

a,
a:hover {
    text-decoration: none;
    color: #1a1a1a
}

img {
    border: 0;
    vertical-align: middle;
}

button {
    font-weight: 300;
	cursor:pointer;
}
.float_r {float: right !important;}
.float_l {float: left !important;}

/* 폰트 크기 */
.fs12 {font-size: 12px !important;}
.fs13 {font-size: 13px !important;}
.fs14 {font-size: 14px !important;}
.fs15 {font-size: 15px !important;}
.fs16 {font-size: 16px !important;}
.fs17 {font-size: 17px !important;}
.fs18 {font-size: 18px !important;}
.fs19 {font-size: 19px !important;}
.fs20 {font-size: 20px !important;}
.fs25 {font-size: 25px !important;}
.fs30 {font-size: 30px !important;}
.fs35 {font-size: 35px !important;}
.fs40 {font-size: 40px !important;}
.fs41 {font-size: 41px !important;}
.fs45 {font-size: 45px !important;}
.fs50 {font-size: 50px !important;}
.fs55 {font-size: 55px !important;}
.fs60 {font-size: 60px !important;}
.fs65 {font-size: 65px !important;}
.fs70 {font-size: 70px !important;}

.ime_auto {ime-mode: auto !important;}
.ime_nomal {ime-mode: normal !important;}
.ime_han {ime-mode: active !important;}
.ime_first_eng {ime-mode: inactive !important;}
.ime_only_eng {ime-mode: disabled !important;}

.relative {position: relative !important;}
.absolute {position: absolute !important;}

.dis_tb {display: table;}
.dis_tb_cell {
    display: table-cell;
    vertical-align: middle;
    padding: 30px 0;
}
.block {display: block !important;}
.inline {display: inline !important;}
.in_block {display: inline-block !important;}
.hidden {display: none !important;}

.br_none {border: 0 none !important;}
.br_t_none {border-top: 0 none !important;}
.br_lt_none {border-left: 0 none !important;}
.br_rt_none {border-right: 0 none !important;}
.br_btm_none {border-bottom: 0 none !important;}
.bg_img_none {background-image: none !important;}

.txt_n {font-weight: normal !important;}
.txt_b {font-weight: bold !important;}
.txt_c {text-align: center !important;}
.txt_l {text-align: left !important;}
.txt_r {text-align: right !important;}
.ver_t {vertical-align: top !important;}
.ver_m {vertical-align: middle !important;}
.y_hidden {overflow-y: hidden !important;}

ul,li,ol {list-style-type: none;}
label {cursor: default;}

table {width: 100%;}
table caption {display: none;}
select,input{border-radius: 0;}

input[placeholder],
[placeholder],
*[placeholder] {
    color: #7b7b7b;
}

input[type="text"],
input[type="password"],
input[type="number"] {
    border: 1px solid #9b9b9b;
}

input[type="checkbox"],
input[type="radio"] {
    vertical-align: middle;
    margin: -2px 4px 2px 0;
}

@media screen and (min-width: 1px) and (max-width: 1169px) {
    select {
        background-color: #fff !important;
    }
    input[type="checkbox"],
    input[type="radio"] {
        width: 15px;
        height: 15px;
    }
}


/* width */

.width20 {width: 20px !important;}
.width30 {width: 30px !important;}
.width40 {width: 40px !important;}
.width45 {width: 45px !important;}
.width50 {width: 50px !important;}
.width55 {width: 55px !important;}
.width65 {width: 60px !important;}
.width60 {width: 65px !important;}
.width70 {width: 70px !important;}
.width80 {width: 80px !important;}
.width90 {width: 90px !important;}
.width100 {width: 100px !important;}
.width110 {width: 110px !important;}
.width120 {width: 120px !important;}
.width130 {width: 130px !important;}
.width140 {width: 140px !important;}
.width150 {width: 160px !important;}
.width160 {width: 160px !important;}
.width170 {width: 170px !important;}
.width180 {width: 180px !important;}
.width200 {width: 200px !important;}
.width220 {width: 220px !important;}
.width250 {width: 250px !important;}
.width270 {width: 270px !important;}
.width280 {width: 270px !important;}
.width300 {width: 300px !important;}
.width350 {width: 350px !important;}
.width400 {width: 400px !important;}
.width463 {width: 463px !important;}
.width500 {width: 500px !important;}
.width540 {width: 540px !important;}
.width550 {width: 550px !important;}
.width600 {width: 600px !important;}
.width660 {width: 660px !important;}
.width669 {width: 669px !important;}
.width700 {width: 700px !important;}
.width800 {width: 800px !important;}
.width1030 {width: 1200px !important;}
.width1200 {width: 1200px !important;}
.width100_per {width: 100% !important;}

/* height */

.hg18 {height: 18px !important;}
.hg20 {height: 20px !important;}
.hg24 {height: 24px !important;}
.hg25 {height: 25px !important;}
.hg43 {height: 43px !important;}

/* line-height */

.line_hg18 {line-height: 18px !important;}
.line_hg20 {line-height: 20px !important;}
.line_hg25 {line-height: 25px !important;}

/* letter-spacing */

.lt_sp0 {letter-spacing: 0 !important;}
.lt_sp1 {letter-spacing: 1px !important;}
.lt_sp2 {letter-spacing: 2px !important;}
.lt_spm1 {letter-spacing: -1px !important;}
.lt_spm2 {letter-spacing: -2px !important;}

/* margin */

.mg0 {margin: 0 !important;}
.mgt0 {margin-top: 0 !important;}
.mgt1 {margin-top: 1px !important;}
.mgt2 {margin-top: 2px !important;}
.mgt3 {margin-top: 3px !important;}
.mgt5 {margin-top: 5px !important;}
.mgt4 {margin-top: 4px !important;}
.mgt6 {margin-top: 6px !important;}
.mgt7 {margin-top: 7px !important;}
.mgtm8 {margin-top: -8px !important;}
.mgt8 {margin-top: 8px !important;}
.mgt9 {margin-top: 9px !important;}
.mgt10 {margin-top: 10px !important;}
.mgt11 {margin-top: 11px !important;}
.mgt12 {margin-top: 12px !important;}
.mgt13 {margin-top: 13px !important;}
.mgt14 {margin-top: 14px !important;}
.mgt15 {margin-top: 15px !important;}
.mgt16 {margin-top: 16px !important;}
.mgt17 {margin-top: 17px !important;}
.mgt18 {margin-top: 18px !important;}
.mgt19 {margin-top: 19px !important;}
.mgt20 {margin-top: 20px !important;}
.mgt21 {margin-top: 21px !important;}
.mgt25 {margin-top: 25px !important;}
.mgt28 {margin-top: 28px !important;}
.mgt30 {margin-top: 30px !important;}
.mgt35 {margin-top: 35px !important;}
.mgt39 {margin-top: 39px !important;}
.mgt40 {margin-top: 40px !important;}
.mgt42 {margin-top: 42px !important;}
.mgt45 {margin-top: 45px !important;}
.mgt49 {margin-top: 49px !important;}
.mgt50 {margin-top: 50px !important;}
.mgt53 {margin-top: 53px !important;}
.mgt59 {margin-top: 59px !important;}
.mgt60 {margin-top: 60px !important;}
.mgt62 {margin-top: 62px !important;}
.mgt64 {margin-top: 64px !important;}
.mgt65 {margin-top: 65px !important;}
.mgt66 {margin-top: 66px !important;}
.mgt68 {margin-top: 68px !important;}
.mgt70 {margin-top: 70px !important;}
.mgt71 {margin-top: 71px !important;}
.mgt80 {margin-top: 80px !important;}
.mgt90 {margin-top: 90px !important;}
.mgt95 {margin-top: 95px !important;}
.mgt100 {margin-top: 100px !important;}
.mgt224 {margin-top: 224px !important;}
.mgt265 {margin-top: 265px !important;}
.mgt360 {margin-top: 360px !important;}
.mgt420 {margin-top: 420px !important;}
.mgr0 {margin-right: 0px !important;}
.mgr1 {margin-right: 1px !important;}
.mgr2 {margin-right: 2px !important;}
.mgr3 {margin-right: 3px !important;}
.mgr4 {margin-right: 4px !important;}
.mgr5 {margin-right: 5px !important;}
.mgr6 {margin-right: 6px !important;}
.mgr7 {margin-right: 7px !important;}
.mgr8 {margin-right: 8px !important;}
.mgr9 {margin-right: 9px !important;}
.mgr10 {margin-right: 10px !important;}
.mgr11 {margin-right: 11px !important;}
.mgr12 {margin-right: 12px !important;}
.mgr13 {margin-right: 13px !important;}
.mgr14 {margin-right: 14px !important;}
.mgr15 {margin-right: 15px !important;}
.mgr16 {margin-right: 16px !important;}
.mgr17 {margin-right: 17px !important;}
.mgr18 {margin-right: 18px !important;}
.mgr19 {margin-right: 19px !important;}
.mgr20 {margin-right: 20px !important;}
.mgr25 {margin-right: 25px !important;}
.mgr30 {margin-right: 30px !important;}
.mgr35 {margin-right: 35px !important;}
.mgr40 {margin-right: 40px !important;}
.mgr45 {margin-right: 45px !important;}
.mgr50 {margin-right: 50px !important;}
.mgr56 {margin-right: 56px !important;}
.mgr60 {margin-right: 60px !important;}
.mgr70 {margin-right: 70px !important;}
.mgr80 {margin-right: 80px !important;}
.mgr90 {margin-right: 90px !important;}
.mgr100 {margin-right: 100px !important;}
.mgr1094 {margin-right: 1094px !important;}
.mgr1140 {margin-right: 1140px !important;}
.mgb0 {margin-bottom: 0px !important;}
.mgb1 {margin-bottom: 1px !important;}
.mgb2 {margin-bottom: 2px !important;}
.mgb3 {margin-bottom: 3px !important;}
.mgb4 {margin-bottom: 4px !important;}
.mgb5 {margin-bottom: 5px !important;}
.mgb6 {margin-bottom: 6px !important;}
.mgb7 {margin-bottom: 7px !important;}
.mgb8 {margin-bottom: 8px !important;}
.mgbm5 {margin-bottom: -5px !important;}
.mgb9 {margin-bottom: 9px !important;}
.mgb10 {margin-bottom: 10px !important;}
.mgb11 {margin-bottom: 11px !important;}
.mgb12 {margin-bottom: 12px !important;}
.mgb13 {margin-bottom: 13px !important;}
.mgb14 {margin-bottom: 14px !important;}
.mgb15 {margin-bottom: 15px !important;}
.mgb16 {margin-bottom: 16px !important;}
.mgb17 {margin-bottom: 17px !important;}
.mgb18 {margin-bottom: 18px !important;}
.mgb19 {margin-bottom: 19px !important;}
.mgb20 {margin-bottom: 20px !important;}
.mgb25 {margin-bottom: 25px !important;}
.mgb30 {margin-bottom: 30px !important;}
.mgb35 {margin-bottom: 35px !important;}
.mgb40 {margin-bottom: 40px !important;}
.mgb45 {margin-bottom: 45px !important;}
.mgb50 {margin-bottom: 50px !important;}
.mgbm50 {margin-bottom: -50px !important;}
.mgb60 {margin-bottom: 60px !important;}
.mgb65 {margin-bottom: 65px !important;}
.mgb70 {margin-bottom: 70px !important;}
.mgb80 {margin-bottom: 80px !important;}
.mgb85 {margin-bottom: 85px !important;}
.mgb90 {margin-bottom: 90px !important;}
.mgb100 {margin-bottom: 100px !important;}
.mgb165 {margin-bottom: 165px !important;}
.mgb265 {margin-bottom: 265px !important;}
.mgl0 {margin-left: 0px !important;}
.mgl1 {margin-left: 1px !important;}
.mgl2 {margin-left: 2px !important;}
.mgl3 {margin-left: 3px !important;}
.mgl4 {margin-left: 4px !important;}
.mgl5 {margin-left: 5px !important;}
.mgl6 {margin-left: 6px !important;}
.mgl7 {margin-left: 7px !important;}
.mgl8 {margin-left: 8px !important;}
.mglm8 {margin-left: -8px !important;}
.mgl9 {margin-left: 9px !important;}
.mgl10 {margin-left: 10px !important;}
.mgl11 {margin-left: 11px !important;}
.mgl12 {margin-left: 12px !important;}
.mgl13 {margin-left: 13px !important;}
.mgl14 {margin-left: 14px !important;}
.mgl15 {margin-left: 15px !important;}
.mgl16 {margin-left: 16px !important;}
.mgl17 {margin-left: 17px !important;}
.mgl18 {margin-left: 18px !important;}
.mgl19 {margin-left: 19px !important;}
.mgl20 {margin-left: 20px !important;}
.mgl21 {margin-left: 21px !important;}
.mgl22 {margin-left: 22px !important;}
.mgl25 {margin-left: 25px !important;}
.mgl30 {margin-left: 30px !important;}
.mgl35 {margin-left: 35px !important;}
.mgl36 {margin-left: 36px !important;}
.mgl40 {margin-left: 40px !important;}
.mgl45 {margin-left: 45px !important;}
.mgl50 {margin-left: 50px !important;}
.mgl60 {margin-left: 60px !important;}
.mgl65 {margin-left: 65px !important;}
.mgl70 {margin-left: 70px !important;}
.mgl80 {margin-left: 80px !important;}
.mgl90 {margin-left: 90px !important;}
.mgl100 {margin-left: 100px !important;}
.mgl106 {margin-left: 106px !important;}
.mgl310 {margin-left: 310px !important;}

/* padding */

.pd0 {padding: 0 !important;}
.pd5 {padding: 5px !important;}
.pd10 {padding: 10px !important;}
.pd20 {padding: 20px !important;}
.pdt0 {padding-top: 0 !important;}
.pdt1 {padding-top: 1px !important;}
.pdt2 {padding-top: 2px !important;}
.pdt3 {padding-top: 3px !important;}
.pdt4 {padding-top: 4px !important;}
.pdt5 {padding-top: 5px !important;}
.pdt6 {padding-top: 6px !important;}
.pdt7 {padding-top: 7px !important;}
.pdt8 {padding-top: 8px !important;}
.pdt9 {padding-top: 9px !important;}
.pdt10 {padding-top: 10px !important;}
.pdt11 {padding-top: 11px !important;}
.pdt12 {padding-top: 12px !important;}
.pdt13 {padding-top: 13px !important;}
.pdt14 {padding-top: 14px !important;}
.pdt15 {padding-top: 15px !important;}
.pdt16 {padding-top: 16px !important;}
.pdt17 {padding-top: 17px !important;}
.pdt18 {padding-top: 18px !important;}
.pdt19 {padding-top: 19px !important;}
.pdt20 {padding-top: 20px !important;}
.pdt25 {padding-top: 25px !important;}
.pdt30 {padding-top: 30px !important;}
.pdt33 {padding-top: 33px !important;}
.pdt35 {padding-top: 35px !important;}
.pdt40 {padding-top: 40px !important;}
.pdt45 {padding-top: 45px !important;}
.pdt50 {padding-top: 50px !important;}
.pdt60 {padding-top: 60px !important;}
.pdt65 {padding-top: 65px !important;}
.pdt70 {padding-top: 70px !important;}
.pdt80 {padding-top: 80px !important;}
.pdt90 {padding-top: 90px !important;}
.pdt100 {padding-top: 100px !important;}
.pdt230 {padding-top: 230px !important;}
.pdr1 {padding-right: 1px !important;}
.pdr2 {padding-right: 2px !important;}
.pdr3 {padding-right: 3px !important;}
.pdr4 {padding-right: 4px !important;}
.pdr5 {padding-right: 5px !important;}
.pdr6 {padding-right: 6px !important;}
.pdr7 {padding-right: 7px !important;}
.pdr8 {padding-right: 8px !important;}
.pdr9 {padding-right: 9px !important;}
.pdr10 {padding-right: 10px !important;}
.pdr11 {padding-right: 11px !important;}
.pdr12 {padding-right: 12px !important;}
.pdr13 {padding-right: 13px !important;}
.pdr14 {padding-right: 14px !important;}
.pdr15 {padding-right: 15px !important;}
.pdr17 {padding-right: 17px !important;}
.pdr18 {padding-right: 18px !important;}
.pdr19 {padding-right: 19px !important;}
.pdr20 {padding-right: 20px !important;}
.pdr22 {padding-right: 22px !important;}
.pdr23 {padding-right: 23px !important;}
.pdr25 {padding-right: 25px !important;}
.pdr30 {padding-right: 30px !important;}
.pdr35 {padding-right: 35px !important;}
.pdr40 {padding-right: 40px !important;}
.pdr44 {padding-right: 44px !important;}
.pdr45 {padding-right: 45px !important;}
.pdr50 {padding-right: 50px !important;}
.pdr70 {padding-right: 70px !important;}
.pdr90 {padding-right: 90px !important;}
.pdr100 {padding-right: 100px !important;}
.pdr116 {padding-right: 116px !important;}
.pdr118 {padding-right: 118px !important;}
.pdb0 {padding-bottom: 0 !important;}
.pdb1 {padding-bottom: 1px !important;}
.pdb2 {padding-bottom: 2px !important;}
.pdb3 {padding-bottom: 3px !important;}
.pdb4 {padding-bottom: 4px !important;}
.pdb5 {padding-bottom: 5px !important;}
.pdb6 {padding-bottom: 6px !important;}
.pdb7 {padding-bottom: 7px !important;}
.pdb8 {padding-bottom: 8px !important;}
.pdb9 {padding-bottom: 9px !important;}
.pdb10 {padding-bottom: 10px !important;}
.pdb11 {padding-bottom: 11px !important;}
.pdb12 {padding-bottom: 12px !important;}
.pdb13 {padding-bottom: 13px !important;}
.pdb14 {padding-bottom: 14px !important;}
.pdb15 {padding-bottom: 15px !important;}
.pdb16 {padding-bottom: 16px !important;}
.pdb17 {padding-bottom: 17px !important;}
.pdb18 {padding-bottom: 18px !important;}
.pdb19 {padding-bottom: 19px !important;}
.pdb20 {padding-bottom: 20px !important;}
.pdb25 {padding-bottom: 25px !important;}
.pdb30 {padding-bottom: 30px !important;}
.pdb35 {padding-bottom: 35px !important;}
.pdb40 {padding-bottom: 40px !important;}
.pdb45 {padding-bottom: 45px !important;}
.pdb50 {padding-bottom: 50px !important;}
.pdb60 {padding-bottom: 60px !important;}
.pdb70 {padding-bottom: 70px !important;}
.pdb80 {padding-bottom: 80px !important;}
.pdb90 {padding-bottom: 90px !important;}
.pdb100 {padding-bottom: 100px !important;}
.pdl1 {padding-left: 1px !important;}
.pdl2 {padding-left: 2px !important;}
.pdl3 {padding-left: 3px !important;}
.pdl4 {padding-left: 4px !important;}
.pdl5 {padding-left: 5px !important;}
.pdl6 {padding-left: 6px !important;}
.pdl7 {padding-left: 7px !important;}
.pdl8 {padding-left: 8px !important;}
.pdl9 {padding-left: 9px !important;}
.pdl10 {padding-left: 10px !important;}
.pdl11 {padding-left: 11px !important;}
.pdl12 {padding-left: 12px !important;}
.pdl13 {padding-left: 13px !important;}
.pdl14 {padding-left: 14px !important;}
.pdl15 {padding-left: 15px !important;}
.pdl16 {padding-left: 16px !important;}
.pdl17 {padding-left: 17px !important;}
.pdl18 {padding-left: 18px !important;}
.pdl19 {padding-left: 19px !important;}
.pdl20 {padding-left: 20px !important;}
.pdl21 {padding-left: 21px !important;}
.pdl23 {padding-left: 23px !important;}
.pdl25 {padding-left: 25px !important;}
.pdl26 {padding-left: 26px !important;}
.pdl30 {padding-left: 30px !important;}
.pdl32 {padding-left: 32px !important;}
.pdl35 {padding-left: 35px !important;}
.pdl40 {padding-left: 40px !important;}
.pdl45 {padding-left: 45px !important;}
.pdl50 {padding-left: 50px !important;}
.pdl60 {padding-left: 60px !important;}
.pdl64 {padding-left: 64px !important;}
.pdl70 {padding-left: 70px !important;}
.pdl80 {padding-left: 80px !important;}
.pdl83 {padding-left: 83px !important;}
.pdl90 {padding-left: 90px !important;}
.pdl100 {padding-left: 100px !important;}
.pdl227 {padding-left: 227px !important;}
